<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 语音走棋：离线识别需要采集麦克风音频。 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 语音走棋悬浮球：需要“显示在其他应用上层”权限。 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:resizeableActivity="true"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:documentLaunchMode="never"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 允许文件管理器/聊天软件通过“使用其他应用打开”把 XQF/PGN 交给节点象棋。 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/x-xqf" />
                <data android:scheme="file" android:mimeType="application/x-xqf" />
                <data android:scheme="content" android:mimeType="application/x-chess-pgn" />
                <data android:scheme="file" android:mimeType="application/x-chess-pgn" />
                <data android:scheme="content" android:mimeType="application/vnd.chess-pgn" />
                <data android:scheme="file" android:mimeType="application/vnd.chess-pgn" />
                <data android:scheme="content" android:mimeType="text/html" />
                <data android:scheme="file" android:mimeType="text/html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/octet-stream" />
                <data android:scheme="file" android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.xqf" />
                <data android:pathPattern=".*\\.XQF" />
                <data android:pathPattern=".*\\.pgn" />
                <data android:pathPattern=".*\\.PGN" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.HTM" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.HTML" />
            </intent-filter>
            <!-- 文件管理器/聊天软件的“分享”使用 ACTION_SEND，文件 URI 位于 EXTRA_STREAM。 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-xqf" />
                <data android:mimeType="application/x-chess-pgn" />
                <data android:mimeType="application/vnd.chess-pgn" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
    </application>
</manifest>
